$fontFamily: "Roboto";
$width: 1440px;

.wrap {
  max-width: $width;
  background: #ffffff;
  margin: 0 auto;
  @media screen and (max-width: 525px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 32px;
    position: relative;
    width: 375px;
    height: 1529px;
    background: #ffffff;
  }
  .header {
    max-width: $width;
    background: #512689;
    display: flex;
    flex-direction: column;
    text-align: center;
    @media screen and (max-width: 525px) {
      width: 375px;
      background: #512689;
      margin: 0;
      padding: 0;
    }
  }
  .button {
    margin: 40px 90% 2px;
    padding: 8px 16px;
    gap: 8px;
    width: 81px;
    height: 38px;
    border: 1px solid #f8f8f8;
    border-radius: 8px;
    color: #f8f8f8;
    background: #512689;
    @media screen and (max-width: 855px) {
      margin: 40px 70% 2px;
    }
    @media screen and (max-width: 525px) {
      background-image: url("../../image/exit.png");
      background-repeat: no-repeat;
      border: 0;
      color: #090a4d00;
      margin: 23px 23px 23px 78%;
      width: 16px;
      height: 19px;
    }
  }
  .title {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    color: #ffffff;
    @media screen and (max-width: 525px) {
      width: 251px;
      height: 42px;
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
  .text {
    width: 846px;
    height: 46px;
    margin: 0 auto;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #f8f8f8;
    margin-bottom: 64px;
    @media screen and (max-width: 855px) {
      height: 180px;
      width: 500px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 525px) {
      width: 334px;
      height: 95px;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      margin-bottom: 64px;
    }
  }
  .content {
    max-width: 1280px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 48px;
    @media screen and (max-width: 525px) {
      margin-top: 32px;
    }
    .wrapButton {
      width: 100%;
      display: flex;
      justify-content: center;
      .addUsers {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 16px;
        line-height: 136.19%;
        box-sizing: border-box;
        padding: 8px 16px;
        gap: 8px;
        width: 170px;
        height: 40px;
        border: 1px solid #151317;
        border-radius: 8px;
        color: #151317;
        margin-top: 56px;
        margin-bottom: 69px;
        background-color: white;
        &::after {
          content: url("../../image/img_button_add.svg");
          margin-left: 11px;
        }
        @media screen and (max-width: 525px) {
          width: 170px;
          height: 40px;
          margin-top: 32px;
          margin-bottom: 32px;
        }
      }
    }
  }
  .link {
    text-decoration: none;
    @media screen and (max-width: 525px) {
      margin: 0 auto;
    }
  }
}
