$fontFamily: "Roboto";
$width: 1440px;

.wrap {
  max-width: $width;
  background: #ffffff;
  margin: 0 auto;
  @media screen and (max-width: 525px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 32px;
    position: relative;
    width: 375px;
    height: 1529px;
    background: #ffffff;
  }
  .header {
    max-width: $width;
    background: #512689;
    display: flex;
    flex-direction: column;
    text-align: center;
    @media screen and (max-width: 525px) {
      width: 375px;
      background: #512689;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }
  .button {
    margin: 40px 90% 2px;
    padding: 8px 16px;
    gap: 8px;
    width: 81px;
    height: 38px;
    border: 1px solid #f8f8f8;
    border-radius: 8px;
    color: #f8f8f8;
    background: #512689;
    @media screen and (max-width: 855px) {
      margin: 40px 70% 2px;
    }
    @media screen and (max-width: 525px) {
      background-image: url('../../image/exit.png');
      background-repeat: no-repeat;
      border: 0;
      color: #512689;
      margin: 23px 23px 23px 78%
    }
  }
  .title {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    color: #ffffff;
    @media screen and (max-width: 525px) {
      width: 251px;
      height: 42px;
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
  .text {
    width: 846px;
    height: 46px;
    margin: 0 auto;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #f8f8f8;
    margin-bottom: 64px;
    @media screen and (max-width: 855px) {
      height: 180px;
      width: 500px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 525px) {
      width: 334px;
      height: 95px;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      margin-bottom: 64px;
    }
  }
  .content {
    max-width: 1280px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 48px;
    @media screen and (max-width: 525px) {
      margin-top: 32px;
    }
  }
  .link {
    text-decoration: none;
    @media screen and (max-width: 525px) {
      margin: 0 auto;
    }
  }
}
